.dropshadow {
  filter: drop-shadow(
      0px 2.309687852859497px 3.623039960861206px rgba(253, 224, 71, 0.03)
    )
    drop-shadow(
      0px 6.38599157333374px 10.017241477966309px rgba(253, 224, 71, 0.04)
    )
    drop-shadow(
      0px 15.375007629394531px 24.117658615112305px rgba(253, 224, 71, 0.05)
    )
    drop-shadow(0px 51px 80px rgba(253, 224, 71, 0.08));
}

.bg-icon-mobile {
  &::after {
    background-image: url("../svg/icon-mobile.svg");
    background-size: cover;
    filter: drop-shadow(
        0px 2.309687852859497px 3.623039960861206px rgba(253, 224, 71, 0.03)
      )
      drop-shadow(
        0px 6.38599157333374px 10.017241477966309px rgba(253, 224, 71, 0.04)
      )
      drop-shadow(
        0px 15.375007629394531px 24.117658615112305px rgba(253, 224, 71, 0.05)
      )
      drop-shadow(0px 51px 80px rgba(253, 224, 71, 0.08));

    transition: 0.5s ease;
  }

  &:hover {
    &::after {
      transform: scale(1.05);
    }
  }
}

.bg-icon-contactless {
  &::after {
    background-image: url("../svg/icon-contactless.svg");
    background-size: cover;
    filter: drop-shadow(
        0px 2.309687852859497px 3.623039960861206px rgba(253, 224, 71, 0.03)
      )
      drop-shadow(
        0px 6.38599157333374px 10.017241477966309px rgba(253, 224, 71, 0.04)
      )
      drop-shadow(
        0px 15.375007629394531px 24.117658615112305px rgba(253, 224, 71, 0.05)
      )
      drop-shadow(0px 51px 80px rgba(253, 224, 71, 0.08));

    transition: 0.5s ease;
  }

  &:hover {
    &::after {
      transform: scale(1.05);
    }
  }
}

.bg-icon-time {
  &::after {
    background-image: url("../svg/icon-time.svg");
    background-size: cover;
    filter: drop-shadow(
        0px 2.309687852859497px 3.623039960861206px rgba(253, 224, 71, 0.03)
      )
      drop-shadow(
        0px 6.38599157333374px 10.017241477966309px rgba(253, 224, 71, 0.04)
      )
      drop-shadow(
        0px 15.375007629394531px 24.117658615112305px rgba(253, 224, 71, 0.05)
      )
      drop-shadow(0px 51px 80px rgba(253, 224, 71, 0.08));

    transition: 0.5s ease;
  }

  &:hover {
    &::after {
      transform: scale(1.05);
    }
  }
}

.bg-icon-config {
  &::after {
    background-image: url("../svg/icon-config.svg");
    background-size: cover;
    filter: drop-shadow(
        0px 2.309687852859497px 3.623039960861206px rgba(253, 224, 71, 0.03)
      )
      drop-shadow(
        0px 6.38599157333374px 10.017241477966309px rgba(253, 224, 71, 0.04)
      )
      drop-shadow(
        0px 15.375007629394531px 24.117658615112305px rgba(253, 224, 71, 0.05)
      )
      drop-shadow(0px 51px 80px rgba(253, 224, 71, 0.08));

    transition: 0.5s ease;
  }

  &:hover {
    &::after {
      transform: scale(1.05);
    }
  }
}

.bg-icon-card {
  &::after {
    background-image: url("../svg/icon-card.svg");
    background-size: cover;
    filter: drop-shadow(
        0px 2.309687852859497px 3.623039960861206px rgba(253, 224, 71, 0.03)
      )
      drop-shadow(
        0px 6.38599157333374px 10.017241477966309px rgba(253, 224, 71, 0.04)
      )
      drop-shadow(
        0px 15.375007629394531px 24.117658615112305px rgba(253, 224, 71, 0.05)
      )
      drop-shadow(0px 51px 80px rgba(253, 224, 71, 0.08));

    transition: 0.5s ease;
  }

  &:hover {
    &::after {
      transform: scale(1.05);
    }
  }
}

.bg-icon-check {
  &::after {
    background-image: url("../svg/icon-check.svg");
    background-size: cover;
    filter: drop-shadow(
        0px 2.309687852859497px 3.623039960861206px rgba(253, 224, 71, 0.03)
      )
      drop-shadow(
        0px 6.38599157333374px 10.017241477966309px rgba(253, 224, 71, 0.04)
      )
      drop-shadow(
        0px 15.375007629394531px 24.117658615112305px rgba(253, 224, 71, 0.05)
      )
      drop-shadow(0px 51px 80px rgba(253, 224, 71, 0.08));
    width: 40px;
    height: 40px;
    top: 16px;
    left: 8px;

    transition: 0.5s ease;
  }

  &:hover {
    &::after {
      transform: scale(1.05);
    }
  }
}

.icon {
  transition: 0.5s ease;
  cursor: pointer;

  &:hover {
    &::after {
      transform: scale(1.05);
    }
  }
}

.icon-networks {
  max-width: 48px;
  padding: 8px;
}
