header {
  width: 100%;
  height: 72px;
  background-color: transparent;
  box-shadow: none;
  position: fixed;
  z-index: 999;

  transition: 0.5s ease;
}

.active-header {
  background-color: $white-normal;
  box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08),
    0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271),
    0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04),
    0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
}

// DESKTOP
.navbar-desktop {
  max-width: $container-xl;
  margin: 0 auto;
  padding: 10px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include responsive(sm) {
    display: none;
  }
}

.logo {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 800;
}

.navbar-desktop-item-1 {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-desktop-item-2 {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-desktop {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .menu-item {
    margin-left: 16px;
    position: relative;
  }
}

.nav-link-desktop {
  display: inline-block;
  padding: 12px 16px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 42%;
    right: -3px;
    width: 7px;
    height: 7px;
    border-bottom: 2px solid $primary-normal;
    border-right: 2px solid $primary-normal;
    transform: rotate(45deg);
    border-radius: 1px;

    transition: 0.2s linear;
  }

  &:hover {
    &::after {
      top: 45%;
    }
  }
}

.dropdown-menu {
  background-color: $white-light;
  border-radius: 16px;
  list-style-type: none;
  padding: 16px 24px;
  box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08),
    0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271),
    0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04),
    0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
  position: absolute;
  top: 48px;
  left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  pointer-events: none;

  transition: 0.7s ease;

  .dropdown-item {
    width: 100%;
  }
}

.active-dropdown-menu {
  opacity: 1;
  pointer-events: all;
}

.nav-link-dropdown {
  display: inline-block;
  width: 100%;
  padding: 8px 16px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 90%;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: $secondary-normal;

    transition: 0.5s ease;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

// MOBILE
.navbar-mobile {
  display: none;
  max-width: $container-xl;
  margin: 0 auto;
  padding: 10px 24px;

  @include responsive(sm) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.hamburguer {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 800;

  &::after {
    content: "";
    position: absolute;
    top: 36%;
    left: 17%;
    width: 70%;
    height: 2px;
    background-color: $primary-normal;

    transition: 0.7s ease;
  }

  &::before {
    content: "";
    position: absolute;
    top: 64%;
    left: 17%;
    width: 70%;
    height: 2px;
    background-color: $primary-normal;

    transition: 0.7s ease;
  }
}

.active-hamburguer {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 800;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 17%;
    width: 70%;
    height: 2px;
    background-color: $primary-normal;
    transform: rotate(-135deg);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 17%;
    width: 70%;
    height: 2px;
    transform: rotate(315deg);
    background-color: $primary-normal;
  }
}

.menu-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transform: translate3d(0, -100px, 0);
  background-color: $white-normal;

  transition: 1s ease;
}

.active-menu-mobile {
  opacity: 1;
  pointer-events: all;
}

.nav-list-mobile {
  max-width: $container-xl;
  list-style: none;
  display: flex;
  flex-direction: column;

  svg {
    width: 36px;
    height: 36px;

    path {
      stroke: $gray-7;

      transition: 0.7s ease;
    }

    &:hover {
      path {
        stroke: $primary-normal;
      }
    }
  }
}

.nav-link-mobile {
  @include typeface-1(h3, desktop);
  display: inline-block;
  color: $gray-2;
  padding: 16px 24px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 90%;
    left: 16px;
    width: 0;
    height: 2px;
    background-color: $secondary-normal;

    transition: 1s ease;
  }

  &:hover {
    color: $primary-normal;

    &::after {
      width: 100%;
    }
  }
}
